<!DOCTYPE html>
<html lang="pt">
  <head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="custom.css" />
  </head>

  <body>
    <div class="container">
      <br />
      <br />

      <h1 style="text-align: left">Criar Proposta</h1>
      <br />
    </div>

    <div class="container">
      <div class="progress">
        <div class="progress-bar" style="width: 0"></div>
      </div>
      <form>
        <br />
        <div style="font-size: 25px"><b>Detalhes de Seminário</b></div>
        <br />
        <div class="form-group">
          <label for="nome">Título:</label>
          <input type="text" class="form-control" id="nome" name="nome"/>
        </div>
        <div class="form-group">
          <label for="curso_ano">Descrição:</label>
          <input type="text" class="form-control" id="curso_ano" name="curso_ano"/>
        </div>
        <div class="form-group">
          <label for="estudante">Fotos:</label>
          <input type="file" id="estudante" name="estudante" />
        </div>
        <div class="form-group">
          <label for="uni">Duração:</label>
          <input type="time" class="form-control" id="uni" name="uni"/>
        <br />
        <div>
          <a type="submit" class="btn btn-primary" href="criar_proposta2.html">Próximo</a>
          <a type="submit" class="btn btn-success">Salvar Rascunho</a>
          <a type="submit" class="btn btn-secondary" href="index_proponente.html">Cancelar</a>
        </div>
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </body>
</html>
